body {
  font-family: 'Arial', sans-serif;
  color: #515076;
}

.page-title {
  font-size: 70px;
  font-weight: 400;
  color: #515076;
  text-align: center;
}

.products-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 45px;
  list-style: none;
  padding: 45px;
  margin: 0;
  justify-content: center;
}

.product-wrapper {
  width: 340px;
  background-color: #F7F7FA;
  padding: 25px;
}

.product-wrapper img {
    width: 100%;
    display: block;
}

.product-wrapper .product-type {
  display: block;
  color: #A5A3B9;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 30px;
}

.product-wrapper h2{
  color: #515076;
}

.product-wrapper ul {
  line-height: 1.6;
}

.price-block {
  display: flex;
  font-size: 20px;
  margin-top: 25px;
  justify-content: space-between;
}
